.main{
    position: relative;
    /* overflow: hidden; */
    overflow-y: hidden;
    width: 300px;
}
.main2{
    /* position: absolute; */
    animation: move 300s linear infinite;
    z-index: -1 !important;

}
.topheadline{
    position: absolute;
    z-index: 9999;
    color: white;
    width: 100%;
    top: 0;
    left: 0;
}

@keyframes move{
    0%{
transform: translateY(0);
    }
    100%{
        transform: translateY(-100%);
    }
}
@media only screen and (max-width:805px){
    .main{
        display: none;
    }
}